<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>
<body>

<h1 th:text="${book.title}">Book title</h1>

<p>
    <i th:text="${book.author}">Author</i>,
    <span th:text="${book.pubYear}">Year</span>
</p>

<h3 th:text="#{label.comments}">Коментарі</h3>

<!-- Повідомлення про відсутність коментарів -->
<p th:if="${#lists.isEmpty(comments)}"
   th:text="#{label.noComments}">
    Ще немає коментарів.
</p>

<!-- Список коментарів -->
<ul th:if="${!#lists.isEmpty(comments)}">
    <li th:each="c : ${comments}">
        <b>
            <a th:href="@{/user/{name}(name=${c.author})}"
               th:text="${c.author}">
                Автор
            </a>
        </b>:

        <span th:text="${c.text}">Текст</span>
        <i>(<span th:text="${c.createdAt}">date</span>)</i>

        <form th:action="@{/comments/delete}" method="post">
            <input type="hidden" name="bookId" th:value="${book.id}" />
            <input type="hidden" name="commentId" th:value="${c.id}" />
            <input type="hidden" name="createdAt" th:value="${c.createdAt}" /> <!-- додали для лаб10 -->
            <button type="submit">Видалити</button>
        </form>

    </li>
</ul>

<h3 th:text="#{label.addComment}">Додати коментар</h3>

<form method="post" th:action="@{/comments}">
    <input type="hidden" name="bookId" th:value="${book.id}"/>

    <p>
        <span th:text="#{label.author}">Автор</span>:
        <b th:text="${currentUserNickname}">Поточний користувач</b>
        <input type="hidden" name="author" th:value="${currentUserNickname}"/>
    </p>

    <label>
        <span th:text="#{label.text}">Текст</span>:
        <textarea name="text"></textarea>
    </label>
    <br/>

    <button type="submit" th:text="#{label.add}">Додати</button>
</form>


<p>
    <a th:href="@{/books}" th:text="#{label.back}">← Повернутись до списку книг</a>
</p>

</body>
</html>
